.list-form input {
  height: 30px;
  border-radius: 30px;
  border: none;
  text-align: center;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 700;
}
.submit-button {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: 700;
}
.submit-button:hover {
  background-color: rgba(74, 218, 253, 0.6);
}
