@import 'src/_config.scss';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');

// html{
//     background-color: $bg-color;
// }

    

//  .awrap, html {
//     height: 100%;
// }


 .awrap {
    font-family: " Montserrat ";
    // background-color: rgba(255, 255, 255, 0);
    margin: 0;
    
    #bg {
        //  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        //   clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
            // clip-path: polygon(28% 39%, 100% 0, 100% 43%, 47% 66%, 100% 100%, 0 100%, 0 100%, 0% 46%, 0 0);
            // clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
            // clip-path: polygon(3% 7%, 2% 21%, 7% 48%, 9% 74%, 14% 93%, 66% 93%, 96% 82%, 100% 52%, 40% 47%, 94% 32%, 82% 7%, 37% 1%);
         clip-path: polygon(0 0, 86% 7%, 100% 60%, 64% 100%, 43% 100%, 0 52%, 72% 42%);
          
        background-color: $bg2-color;
        width: 100%;
        height: 170%;
        position: absolute;
        z-index: -1;

    }
    
}

p {
    color: rgb(0, 0, 0);
}

p:hover{
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 5px;
}
// .logo {
//     text-align: center;
//     background-color: rgba(202, 114, 13, 0.664);
//     border-radius: 15px;
//     text-shadow: 0 0 0px #000;
//     padding: 5% 10%;
//     // padding: 15px;
//     margin: 1em auto;
//     box-shadow: 0 30px 50px rgba(0,0,0,.8);
//     // box-shadow: 0 10px 30px rgba(0,0,0,.2);
//     width: 80%;
// }

img {
  height: 50%;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  
  

   
}

.first{
    // font-family: 'Cormorant Garamond';
    background-color: $textBox-color;
    text-shadow: 0 0 15px rgb(0, 0, 0);
    border-radius: 15px;
    // padding: 15px;
    padding: 5% 10%;
    margin: 1em auto;
    // box-shadow: 0 10px 30px rgba(0,0,0,.2);
    box-shadow: 0 30px 50px rgba(0,0,0,.8);
    width: 80%;
    transition: all 2s ease-in 1s;
    animation: linear;

   
}

.first:hover {
    background-image: url("https://res.cloudinary.com/twin2052000/image/upload/v1595173626/person-wearing-pair-of-brown-leather-loafers-825890_mzrvln.jpg");
    background-size: cover;
    // position: absolute;
    
    

}

.second {
    background-color: $textBox-color;
    border-radius: 15px;
    text-shadow: 0 0 15px rgb(3, 3, 3);
    padding: 5% 10%;
    // padding: 15px;
    margin: 1em auto;
    box-shadow: 0 30px 50px rgba(0,0,0,.8);
    // box-shadow: 0 10px 30px rgba(0,0,0,.2);
    width: 80%;
}

.second:hover {
    background-image: url("https://res.cloudinary.com/twin2052000/image/upload/v1595280655/arizona-asphalt-beautiful-blue-sky-490466_rwi5ie.jpg");
    background-size: cover;
    // position: absolute;
}

.third {

    background-color: $textBox-color;
    border-radius: 15px;
    text-shadow: 0 0 15px rgb(0, 0, 0);
    padding: 5% 10%;
    // padding: 15px;
    margin: 1em auto;
    box-shadow: 0 30px 50px rgba(0,0,0,.8);
    // box-shadow: 0 10px 30px rgba(0,0,0,.2);
    width: 80%;
}

.third:hover {
    background-image: url("https://res.cloudinary.com/twin2052000/image/upload/v1595280724/person-wearing-beige-sweater-holding-map-inside-vehicle-1252500_hzjugj.jpg");
    background-size: cover;
    // position: absolute;
}

.forth {

    background-color: $textBox-color;
    border-radius: 15px;
    text-shadow: 0 0 15px rgb(0, 0, 0);
    padding: 5% 10%;
    // padding: 15px;
    margin: 1em auto;
    box-shadow: 0 30px 50px rgba(0,0,0,.8);
    // box-shadow: 0 10px 30px rgba(0,0,0,.2);
    width: 80%;
}

.forth:hover {
    background-image: url("https://res.cloudinary.com/twin2052000/image/upload/v1595281459/road-people-street-smartphone-2224_bcfknv.jpg");
    background-size: cover;
    
    
    // position: absolute;
}

@media (min-width: 786px) {

    .first:hover {
      background-size: cover;
      background-repeat: no-repeat;
      
    }

}