@import 'src/_config.scss';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');

html{
    background-color: $bg-color;
}
body, html {
    height: 100%;
}


body {
    font-family: " Montserrat ";
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    
    #bg {
        // clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        // clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
           clip-path: polygon(28% 39%, 86% 0, 100% 43%, 47% 66%, 68% 100%, 0 100%, 0 79%, 0% 43%, 0 0);;
        background-color: $bg2-color;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;

    }
    
}
.logo {
    text-align: center;
    background-color: rgba(202, 114, 13, 0.664);
    border-radius: 15px;
    text-shadow: 0 0 0px #000;
    padding: 5% 10%;
    // padding: 15px;
    margin: 1em auto;
    box-shadow: 0 30px 50px rgba(0,0,0,.8);
    // box-shadow: 0 10px 30px rgba(0,0,0,.2);
    width: 80%;
}

.first{
    font-family: 'Cormorant Garamond';
    background-color: $textBox-color;
    text-shadow: 0 0 15px #000;
    border-radius: 15px;
    // padding: 15px;
    padding: 5% 10%;
    margin: 1em auto;
    // box-shadow: 0 10px 30px rgba(0,0,0,.2);
    box-shadow: 0 30px 50px rgba(0,0,0,.8);
    width: 80%;
    transition: all 2s ease-in 1s;
    animation: linear;

   
}

.first:hover {
    background-image: url("https://res.cloudinary.com/twin2052000/image/upload/v1595173626/person-wearing-pair-of-brown-leather-loafers-825890_mzrvln.jpg");
    background-size: cover;
    
    

}

.second {
    background-color: $textBox-color;
    border-radius: 15px;
    text-shadow: 0 0 15px #000;
    padding: 5% 10%;
    // padding: 15px;
    margin: 1em auto;
    box-shadow: 0 30px 50px rgba(0,0,0,.8);
    // box-shadow: 0 10px 30px rgba(0,0,0,.2);
    width: 80%;
}

.third {

    background-color: $textBox-color;
    border-radius: 15px;
    text-shadow: 0 0 15px #000;
    padding: 5% 10%;
    // padding: 15px;
    margin: 1em auto;
    box-shadow: 0 30px 50px rgba(0,0,0,.8);
    // box-shadow: 0 10px 30px rgba(0,0,0,.2);
    width: 80%;
}

.forth {

    background-color: $textBox-color;
    border-radius: 15px;
    text-shadow: 0 0 15px #000;
    padding: 5% 10%;
    // padding: 15px;
    margin: 1em auto;
    box-shadow: 0 30px 50px rgba(0,0,0,.8);
    // box-shadow: 0 10px 30px rgba(0,0,0,.2);
    width: 80%;
}