@import 'src/_config.scss';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');


html{
    background-color: $bg-color;
}



 .homepage {
    background-image: url("https://res.cloudinary.com/twin2052000/image/upload/v1595270799/car_fast_kskclu.jpg");    
    
    // &::before {
    //     background-image: url("https://res.cloudinary.com/twin2052000/image/upload/v1595270799/car_fast_kskclu.jpg");
    //     width: 100%;
    //     height: 170%;
    //     position: absolute;
    //     z-index: -1;

    // }
    
}