@import "../../../_config.scss";

.packing-list {
  // background-color: rgba(255, 167, 0, 0.92);
  background-color: $button-color;
  position: absolute;
  top: 100px;
  width: 100vw;
  height: 100vh;
  max-width: 300px;
  text-align: left;
  clip-path: ellipse(90% 90% at 1% 45%);
  padding: 30px;
  font-weight: 700;
  overflow-y: scroll;
  margin-bottom: 200px;
  z-index: 3;
  margin-bottom: 100px;
}

.packing-list p {
  color: white;
}

.packing-list-items {
  position: relative;
  height: 100vh;
  color: white;
}

.packing-list-items li {
  padding: 5px;
}

.delete-button {
  position: absolute;
  cursor: pointer;
  left: 150px;
  background-color: #3dbee2;
  font-weight: 700;
  border: 2px solid black;
}
