@import "../../../_config.scss";

.packing-list-border {
  // position: fixed;
  position: absolute;
  margin-top: 50px;
  top: 0;

  width: 100vw;
  max-width: 500px;
  min-width: 500px;
  height: 100vh;
  background-color: rgba(61, 190, 226, 0.5);
  z-index: 2; // the higher the number, the more the element will be on top of the everything
  clip-path: ellipse(300px 650px at 25% 50%);
  // overflow-y: scroll;
}

.packing-list {
  // background-color: #ffa800;
  background-color: $button-color;
  position: absolute;
  width: 100vw;
  height: 100vh;

  max-width: 425px;
  text-align: left;
  // clip-path: ellipse(230px 800px at 40% 50%);
  clip-path: ellipse(90% 90% at 1% 45%);

  padding: 30px;
  color: white;
  font-weight: 700;
  overflow-y: scroll;
  margin-bottom: 200px;
}

// This is for IPad Pro
.packing-list p {
  padding-top: 100px;
}

.packing-list-items {
  position: relative;
  height: 100vh;
}

.packing-list-items li {
  padding: 5px;
}

.delete-button {
  position: absolute;
  left: 150px;
  background-color: #3dbee2;
  color: white;
}

// Media query needed for IPadPro
// padding-top should be bigger for form?
