@import "../../../_config.scss";

.countdown-container {
  position: absolute;
  background-color: $button-color;
  right: 0;
  top: 0;
  border-radius: 30px;
  min-width: 200px;
  padding: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.departure-button {
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.departure-button:hover {
background-color:rgba(74,218,253, 0.6);
}

.countdown-clock {
  padding-top: 5px;
}

.clock-days,
.clock-hours,
.clock-minutes,
.clock-seconds {
  margin: 5px;
  font-size: 0.8rem;
  color: white;
  font-weight: 700;
}

.timer-input {
  display: none;

}

.timer-input.visible {
  display: block;
}

.timer-input form {
  padding: 20px;
}

.timer-input input {
    border-radius: 30px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    width: 120px;
    text-align: center;
   margin-right: 5px;
}

.timer-submit {
  border-radius: 30px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.timer-submit:hover {
background-color:rgba(74,218,253, 0.6);
}